.title {
    font-size: 24px;
    cursor: pointer;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 12px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    flex: 0.1;
    align-self: flex-start;
    height: 4rem;
}

.login {
    cursor: pointer;
    align-self: flex-end;
    height: 4rem;
}

.search {
    margin: 1rem;
}

.footer{
    height: 3rem;
    background-color: #c8c4c4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bar{
    display: flex;
    background-color: #c8c4c4;
    position: fixed;
    height: 4rem;
    top: 0;
    left: 0;
    width: 100%;
}

.movieContainer {
    flex: 1;
    height: 256px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.movieViewContainer {
    padding-top: 4rem;
    padding-bottom: 3rem;
    height: 100vh;
    flex: 1;
    display: flex;
    border-radius: 20px;
}

.moviesContainer {
    width: 33%;
    display: flex;
    padding: 8px;
}

.movie {
    cursor: pointer;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 10%;
}

.movieView {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 10%;
}

.listContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 30px;
}

img {
    flex:1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}

.movieTitle {
    font-size: 32px;
    flex: 1;
    justify-content: center;
}

.movieContent {
    font-size: 24px;
    flex: 1;
    justify-content: center;
}