*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    flex: 0.1;
    align-self: flex-start;
    height: 64px;
}

.login {
    align-self: flex-end;
    height: 64px;
}

.search {
    align-self: flex-end;
    height: 64px;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #c8c4c4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #c8c4c4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.movie {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 20%;
}

.listContainer {
    padding: 30px;
}

img {
    flex:1;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movieContainer {
    width: 24%;
    height: 420px;
    display: flex;
}